@CHARSET "UTF-8";

/**
ColorBlender.com pallette
HTML rgb(149, 0, 32)	rgb(99, 0, 21)		rgb(199, 0, 43) 	rgb(255, 192, 206) 		rgb(172, 172, 172)		rgb(248, 237, 238)
Please adhere to above color codes
**/
@page {
	size: A4 portrait;
	margin: 25mm 10mm; /* change the margins as you want them to be. */
}

html, body {
	margin: 0;
	padding: 0;
}

a, a:active, a:visited {
	color: rgb(226, 19, 80);
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	line-height: 1.5em;
	background: #ffffff;
}

body header {
	text-align: left;
	border-top: 20px solid rgb(226, 19, 80);
	height: 94px;
	width: 210mm;
	margin: 0 auto;
	padding-top: 20px;
}

body header:before {
	content: url(/img/avans_logo.png);
	float: right;
}

body header h1 {
	color: rgb(226, 19, 80);
	font-style: italic;
	margin-top: 10px;
}

body header h2 {
	color: rgb(149, 0, 32);
	font-style: italic;
	margin-top: 10px;
}

body>section {
	border-top: 1px solid rgb(199, 0, 43);
	width: 210mm;
	margin: 0 auto;
}

body section h2 {
	color: rgb(199, 0, 43);
}

body section h3 {
	color: rgb(149, 0, 32);
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	margin-bottom: 1em;
	table-layout: fixed;
	
}

table caption {
	color: rgb(99, 0, 21);
	border-bottom: 1px solid rgb(99, 0, 21);
	text-align: left;
	line-height: 2em;
	font-weight: bold;
}

table td, table th {
	padding: 2px;
	vertical-align: top;
}

table.multicol th {
	text-align: right;
	color: rgb(226, 19, 80);
	width: 20%;
}

table td ul {
	margin: 0;
}

table td#intelligenties ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table td#intelligenties ul li {
	padding: 0 5px;
	display: inline;
}

ul.horizontal-menu {
	padding-left: 0;
}
ul.horizontal-menu li {
	list-style: none;
	display:inline;
}

@media print {
	body>header, body>section {
		page-break-after: always;
	}
}