@CHARSET "UTF-8";



/**
ColorBlender.com pallette
HTML #F5421E	#A82D14		#F5AD1D 	#A87714		#0A0A0A		#F5F5F5
Please adhere to above color codes
**/
@page {
    size: A4 portrait;
    margin: 25mm 10mm; /* change the margins as you want them to be. */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 1.5em;
	background-color: #ffffff;

}

body header {
	text-align: center;
}
body header h1 {
	color: rgb(199, 0, 43);
}

body>section {
	border-top: 1px solid #F5AD1D;
}

body section h2 {
	color: #F5AD1D;
}

body section h3 {
	color: #F5421E;
}

table {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 1em;
	table-layout: fixed;
}

table caption {
	color: #A82D14;
	border-bottom: 1px solid #A82D14;
	text-align: left;
	line-height: 2em;
	font-weight: bold;
}

table td, table th {
	padding: 5px;
	vertical-align: top;
}

table th {
	text-align: right;
	background-color: #F5F5F5;
	width: 20%;
}

table td ul {
	margin: 0;
}

table td#intelligenties ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table td#intelligenties ul li {
	padding: 0 5px;
	display: inline;
}

@media print {
	body {
		background-image: url(/background.png);
	}
	body>header, body>section {
		page-break-after: always;
	}
}