@CHARSET "UTF-8";



/**
ColorBlender.com pallette
HTML rgb(99, 0, 21)	rgb(90, 90, 90)		rgb(149, 0, 32) 	rgb(255, 192, 206) 		rgb(172, 172, 172)		rgb(248, 237, 238)
Please adhere to above color codes
**/
@page {
    size: A4 portrait;
    margin: 25mm 10mm; /* change the margins as you want them to be. */
}
html, body {
	margin: 0;
	padding:0;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	line-height: 1.5em;
	background: #ffffff;

}

body header {
	text-align: center;
	border-top: 20px solid rgb(199, 0, 43);
	height: 84px;
	background: url(/avans_logo.png) no-repeat 100% 10%;
	width: 100%;
}
body header h1 {
	color: rgb(199, 0, 43);
}

body>section {
	border-top: 1px solid rgb(149, 0, 32);
}

body section h2 {
	color: rgb(149, 0, 32);
}

body section h3 {
	color: rgb(99, 0, 21);
}

table {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 1em;
	table-layout: fixed;
}

table caption {
	color: rgb(90, 90, 90);
	border-bottom: 1px solid rgb(90, 90, 90);
	text-align: left;
	line-height: 2em;
	font-weight: bold;
}

table td, table th {
	padding: 5px;
	vertical-align: top;
}

table th {
	text-align: right;
	color: rgb(199, 0, 43);
	width: 20%;
}

table td ul {
	margin: 0;
}

table td#intelligenties ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table td#intelligenties ul li {
	padding: 0 5px;
	display: inline;
}

@media print {
	body {
		background-image: url(/background.png);
	}
	body>header, body>section {
		
		page-break-after: always;
	}
}